* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-image: url('https://st4.depositphotos.com/1003924/22680/i/450/depositphotos_226809952-stock-photo-insurance-agent-house-toy-safety.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    background-image: url('https://media.istockphoto.com/id/1127838959/photo/family-care-and-love-hands-with-family-symbol-silhouette.jpg?s=612x612&w=0&k=20&c=WzR4o7H3EE3cZjhifpx2jH9VI-vcwo72Jw2zheK0mnE=');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('https://thumbs.dreamstime.com/b/home-loan-insurance-family-life-assurance-protection-financial-mortgage-house-building-legacy-planning-investment-concept-155633331.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }